section.comments
    div.center
        div(class="upak_comments")
            div(class="upak_comments_cont")
                div(class="upak_comments_item", id="bx_3218110189_7279")
                    div(class="upak_comments_author")
                        div(class="upak_comments_author_img")
                            img(src="images/tmp/avatar.jpg", alt="")
                        div(class="upak_comments_author_text 3")
                            p Сергей 
                            span 14.10.2020 в 21:21
                    div(class="upak_comments_body")
                        | ЕЕЕЕЕЕЕ! класс!
                    div(class="upak_comments_bottom")
                        a(class="add_comment", href="javascript:void(0)", data-parent-id="7279") Ответить
                div(class="upak_comments_item", id="bx_3218110189_7280")
                    div(class="upak_comments_author")
                        div(class="upak_comments_author_img")
                            img(src="images/tmp/avatar.jpg", alt="")
                        div(class="upak_comments_author_text 3")
                            p Александр 
                            span 14.10.2020 в 22:11
                    div(class="upak_comments_body")
                        | ура!
                    div(class="upak_comments_bottom")
                        a(class="add_comment", href="javascript:void(0)", data-parent-id="7280") Ответить
                div(class="upak_comments_item", id="bx_3218110189_7281")
                    div(class="upak_comments_author")
                        div(class="upak_comments_author_img")
                            img(src="images/tmp/avatar.jpg", alt="")
                        div(class="upak_comments_author_text 3")
                            p Дмитрий 
                            span 14.10.2020 в 22:26
                    div(class="upak_comments_body")
                        | Было бы интересно узнать соответствие помолов для Wilfa Svart WSCG-2
                    div(class="upak_comments_bottom")
                        a(class="add_comment", href="javascript:void(0)", data-parent-id="7281") Ответить
                div(class="upak_comments_item v2", id="bx_3218110189_7292")
                    div(class="upak_comments_author")
                        div(class="upak_comments_author_img")
                            img(src="images/tmp/avatar.jpg", alt="")
                        div(class="upak_comments_author_text 2")
                            p Виолетта 
                            p
                            span 16.10.2020 в 12:27
                    div(class="upak_comments_body")
                        | Добрый день! Да, уже запланировали эту кофемолку тоже просеять:)
                    div(class="upak_comments_bottom")
                        a(class="add_comment", href="javascript:void(0)", data-parent-id="7281") Ответить
                div(class="upak_comments_item", id="bx_3218110189_7282")
                    div(class="upak_comments_author")
                        div(class="upak_comments_author_img")
                            img(src="images/tmp/avatar.jpg", alt="")
                        div(class="upak_comments_author_text 3")
                            p Владимир 
                            span 14.10.2020 в 23:17
                    div(class="upak_comments_body")
                        | Крутая статья, спасибо! А есть ли возможность протестировать Baratza Encore?
                    div(class="upak_comments_bottom")
                        a(class="add_comment", href="javascript:void(0)", data-parent-id="7282") Ответить
                div(class="upak_comments_item v2", id="bx_3218110189_7293")
                    div(class="upak_comments_author")
                        div(class="upak_comments_author_img")
                            img(src="images/tmp/avatar.jpg", alt="")
                        div(class="upak_comments_author_text 2")
                            p Виолетта 
                            p
                            span 16.10.2020 в 12:28
                    div(class="upak_comments_body")
                        | Добрый день! Да, и эта кофемолка тоже запланированна.
                    div(class="upak_comments_bottom")
                        a(class="add_comment", href="javascript:void(0)", data-parent-id="7282") Ответить
                div(class="upak_comments_item", id="bx_3218110189_7283")
                    div(class="upak_comments_author")
                        div(class="upak_comments_author_img")
                            img(src="images/tmp/avatar.jpg", alt="")
                        div(class="upak_comments_author_text 3")
                            p Вадим 
                            span 15.10.2020 в 4:57
                    div(class="upak_comments_body")
                        | Спасибо за эту титаническую
                    div(class="upak_comments_bottom")
                        a(class="add_comment", href="javascript:void(0)", data-parent-id="7283") Ответить
                div(class="upak_comments_item", id="bx_3218110189_7285")
                    div(class="upak_comments_author")
                        div(class="upak_comments_author_img")
                            img(src="images/tmp/avatar.jpg", alt="")
                        div(class="upak_comments_author_text 3")
                            p Никита 
                            span 15.10.2020 в 15:27
                    div(class="upak_comments_body")
                        | Спасибо за статью. Огонь! 
                        | Пара вопросов по образцу Timemore из теста:
                        | 1. Щелчки считали от полного сведения, т.е. от момента когда регулировочное кольцо больше не затягивается в сторону уменьшения?
                        | 2. Если она у вас еще в наличии, на каком количестве щелчков от нуля жернова перестают чиркать друг о друга?
                    div(class="upak_comments_bottom")
                        a(class="add_comment", href="javascript:void(0)", data-parent-id="7285") Ответить
                