footer.footer-navs-new
    div.center
        div.main-footer.flex.flex-just-b
            div.footer-navs.footer-first
                div.footer-img
                    img(alt="Кофе с огоньком!", loading="lazy", src="images/logo_in_footer.svg")
                    img(alt="Кофе с огоньком!", style="width: 172px; padding-top: 10px; margin-left: 15px;", loading="lazy", src="images/slogan.gif")
                div.footer-menu-block
                    div.footer-menu-block-mini
                        a(href="/lapsha_na_ushi/")
                            div.footer-menu-link О нас
                        a(href="/blog/")
                            div.footer-menu-link Блог 
                        a(href="/map/")
                            div.footer-menu-link Карта сварщицы
                    div.footer-menu-block-mini
                        a(href="/lapsha_na_ushi/")
                            div.footer-menu-link Наши кофейни 
                        a(href="/loyaltysystem/")
                            div.footer-menu-link Система лояльности
            div.footer-navs.footer-wrap-shop
                div.footer-title Магазин
                div.footer-menu-blocks
                    .footer-menu-block
                        a(href="/catalog/dlya_filtra/")
                            div.footer-menu-link Фильтр
                        a(href="/catalog/dlya_espresso/")
                            div.footer-menu-link Эспрессо 
                        a(href="/catalog/pod_molochko_1/")
                            div.footer-menu-link Под молочко
                        a(href="/catalog/kapsuly/")
                            div.footer-menu-link Капсулы 
                        a(href="/catalog/sempl_boksy/")
                            div.footer-menu-link Сэмпл-Боксы
                        a(href="/catalog/galarastvor/")
                            div.footer-menu-link Галараствор
                    div.footer-menu-block
                        a(href="/catalog/aksessuary/")
                            div.footer-menu-link Аксессуары 
                        a(href="/catalog/drip_kofe/")
                            div.footer-menu-link Дрип кофе 
                        a(href="/catalog/kofe_v_bankakh/")
                            div.footer-menu-link Кофе в банках 
                        a(href="/catalog/podpiska/")
                            div.footer-menu-link Подписка на кофе 
                        a(href="/catalog/arkhiv_kofe/")
                            div.footer-menu-link Архив 
                        a(href="https://theweldercatherine.ru/upload/FAQ_TWC.pdf", target="_blank")
                            div.footer-menu-link FAQ 
            div.footer-navs.footer-wrap-status
                div.footer-menu-block-mini
                    div.footer-title Розница
                    a(href="/metnemsya_kobanchikom/")
                        div.footer-menu-link Доставка и оплата
                div.footer-menu-block-mini
                    div.footer-title Опт
                    a(href="/optad/")
                        div.footer-menu-link Оптовое предложение
                    a(href="/sl/?URREG=Y")
                        div.footer-menu-link Создать личный кабинет 
            div.footer-navs.footer-wrap-pay
                div.footer-title Оплата
                div.footer-pay
                    div: img(src="images/pay-one.png")
                    div: img(src="images/pay-two.png")
            div.footer-navs.footer-wrap-social
                div.footer-title Соц.сети
                div.footer-social
                    a(target="_blank", href="https://www.instagram.com/theweldercatherine/")
                        div
                            div.footer-social--icon.footer-social--inst
                            div.footer-social--text
                                | Instagram*
                    a(target="_blank", href="https://www.youtube.com/channel/UCIMcXL5XK3Yqw-0jBnWxqNQ?view_as=subscriber")
                        div
                            div.footer-social--icon.footer-social--youtube
                            div.footer-social--text Youtube
                    a(target="_blank", href="https://vk.com/theweldercatherine")
                        div
                            div.footer-social--icon.footer-social--vkontakte
                            div.footer-social--text Вконтакте
                    a(target="_blank", href="https://t.me/theweldercatherine")
                        div
                            div.footer-social--icon.footer-social--tg
                            div.footer-social--text Telegram
        div.sub-footer.flex.flex-just-b
            div.footer-privacy
                div Политика обработки 
                    a(href="/privacy/") персональных данных
                div
                    a(href="/publichnaya-oferta/") Публичная оферта
            div.footer-copyright
                p © 2024 «The Welder Catherine» Все права защищены.
            div.footer-empty
                p *Организация Meta Platforms Inc. (соцсети Фейсбук, Инстаграм) признана экстремистской, её деятельность запрещена на территории РФ.
