extends _template.pug

block content
    section.page-head
        div.center
            h1.page-head__title Авторы
            div.page-head__subtitle Пушкины, Достоевские, Тютчевы...

    section.creators
        div.center
            div.creator
                div.photo
                    img(src="images/tmp/creator_photo.jpg", alt="")
                span.name Сергей Митрофанов
                span.about Бренд-менеджер, отвечает за развитие YouTube-канала. 
                div.details
                    span 29 статей 117 видео
                    a(href="###"): img(src="images/ic_soc1.png", alt="")
                    a(href="###"): img(src="images/ic_soc2.png", alt="")
                a(href="creator.html").button Читать статьи Сергея →
            div.creator
                div.photo
                    img(src="images/tmp/creator_photo_2.jpg", alt="")
                span.name Анастасия Филиппова
                span.about Бренд-менеджер, отвечает за контроль качества.
                div.details
                    span 29 статей 117 видео
                    a(href="###"): img(src="images/ic_soc1.png", alt="")
                a(href="creator.html").button Читать статьи Анастасии →
            div.creator
                div.photo
                    img(src="images/tmp/creator_photo_3.jpg", alt="")
                span.name Виолетта Ябловская
                span.about Многократная победительница и призерка чемпионатов бариста. Сейчас живет в Португалии и занимается выбором кофе для ассортимента Сварщицы. 
                div.details
                    span 29 статей 117 видео
                a(href="creator.html").button Читать статьи Виолетты →
            div.creator
                div.photo
                    img(src="images/tmp/creator_photo.jpg", alt="")
                span.name Сергей Митрофанов
                span.about Бренд-менеджер, отвечает за развитие YouTube-канала. 
                div.details
                    span 29 статей 117 видео
                    a(href="###"): img(src="images/ic_soc1.png", alt="")
                    a(href="###"): img(src="images/ic_soc2.png", alt="")
                a(href="creator.html").button Читать статьи Сергея →
            div.creator
                div.photo
                    img(src="images/tmp/creator_photo_2.jpg", alt="")
                span.name Анастасия Филиппова
                span.about Бренд-менеджер, отвечает за контроль качества.
                div.details
                    span 29 статей 117 видео
                    a(href="###"): img(src="images/ic_soc1.png", alt="")
                a(href="creator.html").button Читать статьи Анастасии →
            div.creator
                div.photo
                    img(src="images/tmp/creator_photo_3.jpg", alt="")
                span.name Виолетта Ябловская
                span.about Многократная победительница и призерка чемпионатов бариста. Сейчас живет в Португалии и занимается выбором кофе для ассортимента Сварщицы. 
                div.details
                    span 29 статей 117 видео
                a(href="creator.html").button Читать статьи Виолетты →