extends _template.pug

block content
    section.gift
        div.center.desktop

            div.text
                h1 Подарочный #[br]сертификат
                span Порадуйте близких #[br]сюрпризом с ог🔥ньком!
                small Просто, как 1,2,3!

            div.image
                img(src="images/gift.png", alt="")

            div.list
                div.item
                    span Выберите мануал
                div.item
                    span Укажите свою почту или отправьте #[br]сертификат анонимно!
                div.item
                    span Укажите данные получателя

            button Оформить сертификат
        div.center.mobile
            div.crumbs
                a(href="index.html") Главная
                div.divide
                span Подарочный сертификат
            h1 Подарочный сертификат
            div.image
                img(src="images/gift.png", alt="")
                span Порадуйте близких сюрпризом с ог🔥ньком!
            div.list
                div.item
                    span Выберите мануал
                div.item
                    span Укажите свою почту или отправьте #[br]сертификат анонимно!
                div.item
                    span Укажите данные получателя
            small Просто, как 1,2,3!
            button Оформить сертификат

    section.what
        div.center
            div
                h3 На что действует сертификат?
                span На все товары, представленные на нашем сайте. Сертификатом можно частично или полностью оплатить заказ, остаточная стоимость сработает как скидка на товар из выбранного раздела.
            div
                h3 Как активировать сертификат?
                span На почту получателя придет письмо с ссылкой для генерации индивидуального промокода, который необходимо ввести в корзине для активации сертификата.
            div
                h3 Сколько действует сертификат?
                span Срок действия наших сертификатов не ограничен. Сертификат можно использовать один раз.

    section.support
        div.center
            span Если у вас возникли сложности с оформлением сертификата или другие вопросы - пожалуйста,пишите нам на почту: #[a(href="gastronom@theweldercatherine.ru") gastronom@theweldercatherine.ru]. Или звоните по телефону: #[a(href="tel:+7 (495) 640 12 25") +7 (495) 640 12 25] тогда наши менеджеры смогут оперативно помочь решить проблему!